@model IEnumerable<BillOfLadingEquipmentModel>
<div class="col-md-6">
    <table class="table table-condensed table-hover table-bordered table-styled">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.BillOfLading.BillOfLadingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillOfLading.ToStorage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillOfLading.DateShipped)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippedFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HTSCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryOfOrigin)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(b => b.BillOfLading.IsCurrentRevision))
            {
                <tr class="@(item.BillOfLading.ToStorage ? "info" : "")">
                    <td class="text-center">
                        <a href="@Url.Action("Details", "BillOfLading", new { billOfLadingNumber = item.BillOfLading.BillOfLadingNumber })">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillOfLading.BillOfLadingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillOfLading.ToStorage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillOfLading.DateShipped)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HTSCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                    </td>
                </tr>
        }
        </tbody>

    </table>
</div>