@model EquipmentModel

    <tr class="info">
        <td></td>
        <td></td>
        <td>
            @Html.EditorFor(modelItem => modelItem.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.EquipmentName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.DropDownListFor(modelItem => modelItem.PriorityNumber, new SelectList(Model.Priorities, Model.Priorities.FirstOrDefault()), new { @class = "form-control" })
            @Html.ValidationMessageFor(modelItem => modelItem.PriorityNumber, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ReleaseDate, new { htmlAttributes = new { @class = "form-control datePickerTable", id = "releaseDate" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ReleaseDate, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.DrawingNumber, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Revision, new { htmlAttributes = new { @class = "form-control text-right" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Revision, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.WorkOrderNumber, new { htmlAttributes = new { @class = "form-control workorderprice-autocomplete" } })
            @Html.ValidationMessageFor(modelItem => modelItem.WorkOrderNumber, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Quantity, new { htmlAttributes = new { @class = "form-control text-right" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Quantity, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ShippingTagNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ShippingTagNumber, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Description, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.UnitWeight, new { htmlAttributes = new { @class = "form-control text-right" } })
            @Html.ValidationMessageFor(modelItem => modelItem.UnitWeight, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ReadyToShip, new { htmlAttributes = new { @class = "form-control text-right" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ReadyToShip, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ShippedFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ShippedFrom, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Notes, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
        <td>
            @Html.EditorFor(modelItem => modelItem.HTSCode, new { htmlAttributes = new { @class = "form-control htscode-autocomplete" } })
            @Html.ValidationMessageFor(modelItem => modelItem.HTSCode, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.CountryOfOrigin, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

