@model EquipmentModel

<tr class="@(Model.Status == SuccessStatus.Error ? "danger" : "info")">
    
    <td class="long">
        @Html.EditorFor(modelItem => modelItem.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.EquipmentName, "", new { @class = "text-danger" })
    </td>
    <td class="smallWidth">
        @Html.DropDownListFor(modelItem => modelItem.Priority, new SelectList(Model.Priorities), new { @class = "form-control" })
        @Html.ValidationMessageFor(modelItem => modelItem.Priority, "", new { @class = "text-danger" })
    </td>
    <td class="medium releaseDateColumn">
        @Html.EditorFor(modelItem => modelItem.ReleaseDate, new { htmlAttributes = new { @class = "form-control datePickerTable", id = "releaseDate" + Model.EquipmentId } })
        @Html.ValidationMessageFor(modelItem => modelItem.ReleaseDate, "", new { @class = "text-danger" })
    </td>
    <td class="long">
        @Html.EditorFor(modelItem => modelItem.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.DrawingNumber, "", new { @class = "text-danger" })
    </td>
    <td class="medium">
        @Html.EditorFor(modelItem => modelItem.WorkOrderNumber, new { htmlAttributes = new { @class = "form-control autocomplete" } })
        @Html.ValidationMessageFor(modelItem => modelItem.WorkOrderNumber, "", new { @class = "text-danger" })
    </td>
    <td class="text-right smallWidth">
        @Html.EditorFor(modelItem => modelItem.Quantity, new { htmlAttributes = new { @class = "form-control text-right" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Quantity, "", new { @class = "text-danger" })
    </td>
    <td class="long">
        @Html.EditorFor(modelItem => modelItem.ShippingTagNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.ShippingTagNumber, "", new { @class = "text-danger" })
    </td>
    <td class="long">
        @Html.EditorFor(modelItem => modelItem.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Description, "", new { @class = "text-danger" })
    </td>
    <td class="text-right smallWidth">
        @Html.EditorFor(modelItem => modelItem.UnitWeight, new { htmlAttributes = new { @class = "form-control text-right" } })
        @Html.ValidationMessageFor(modelItem => modelItem.UnitWeight, "", new { @class = "text-danger" })
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        @Html.EditorFor(modelItem => modelItem.ShippedFrom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.ShippedFrom, "", new { @class = "text-danger" })
    </td>
    <td></td>
    <td></td>
    <td>
        @Html.EditorFor(modelItem => modelItem.HTSCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.HTSCode, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(modelItem => modelItem.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.CountryOfOrigin, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(modelItem => modelItem.Notes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Notes, "", new { @class = "text-danger" })
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <input type="button" value="Create" class="btn btn-sm btn-primary createSubmit" />
    </td>
</tr>

