@model EquipmentModel

<tr class="text-nowrap">
    @if (Model.BillOfLadingEquipments != null && Model.BillOfLadingEquipments.Count() > 0)
    {
        <td data-toggle="collapse" data-id="@Model.EquipmentId" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
    }
    else
    {
        <td></td>
    }
    <td>
        @Html.DisplayFor(modelItem => modelItem.IsHardware) 
        @if (Model.HardwareKitEquipments != null && Model.HardwareKitEquipments.Count() > 0)
        {
            <br/>
            @("Associated To Hardware Kit " + Model.HardwwareKitEquipment.HardwareKit.HardwareKitNumber)
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.EquipmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ReleaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.DrawingNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.WorkOrderNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ShippingTagNumber)
    </td>
    <td class="long-column">
        @Html.DisplayFor(modelItem => modelItem.Description)
    </td>
    <td class="@Model.Indicators.UnitWeightColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.UnitWeight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TotalWeight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TotalWeightShipped)
    </td>
    <td class="@Model.Indicators.ReadyToShipColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.ReadyToShip)
    </td>
    <td class="@Model.Indicators.ShippedQtyColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.ShippedQuantity)
    </td>
    <td class="@Model.Indicators.LeftToShipColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.LeftToShip)
    </td>
    <td class="@Model.Indicators.FullyShippedColor.ToString()">
        @if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == true)
        {
            @:Yes
        }
        else if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == false)
        {
            @:No
        }
        else
        {
            @:NA
        }
    </td>
    <td class="@Model.Indicators.CustomsValueColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.CustomsValue)
    </td>
    <td class="@Model.Indicators.SalePriceColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.SalePrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.HTSCode)
    </td>
    <td class="@Model.Indicators.CountyOfOriginColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.CountryOfOrigin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Notes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.AutoShipFile)
    </td>
    <td class="@Model.Indicators.SalesOrderNumberColor.ToString()">
        @Html.DisplayFor(modelItem => modelItem.SalesOrderNumber)
    </td>
</tr>

