@model EquipmentModel

@using (Ajax.BeginForm("Edit", new { id = Model.EquipmentId }, new AjaxOptions { }))
{
    @Html.AntiForgeryToken()
    <tr class="text-nowrap">
        @if (Model.BillOfLadingEquipments != null && Model.BillOfLadingEquipments.Count() > 0)
        {
            <td data-toggle="collapse" data-target="#accordion@(Model.EquipmentId)" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
        }
        else
        {
            <td></td>
        }
        <td>
            @Html.CheckBoxFor(modelItem => modelItem.IsHardware)
        </td>
        <td>
            @Html.HiddenFor(modelItem => modelItem.EquipmentId)
            @Html.EditorFor(modelItem => modelItem.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DropDownListFor(modelItem => modelItem.Priority, new SelectList(Priorities.GetPriorities()), new { @class = "form-control" })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ReleaseDate, new { htmlAttributes = new { @class = "form-control datePicker", id = "releaseDate" + Model.EquipmentId } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.WorkOrderNumber, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.ShippingTagNumber, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="long-column">
            @Html.EditorFor(modelItem => modelItem.Description, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="@Model.Indicators.UnitWeightColor.ToString()">
            @Html.EditorFor(modelItem => modelItem.UnitWeight, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TotalWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TotalWeightShipped)
        </td>
        <td class="@Model.Indicators.ReadyToShipColor.ToString()">
            @Html.DisplayFor(modelItem => modelItem.ReadyToShip)
        </td>
        <td class="@Model.Indicators.ShippedQtyColor.ToString()">
            @Html.DisplayFor(modelItem => modelItem.ShippedQuantity)
        </td>
        <td class="@Model.Indicators.LeftToShipColor.ToString()">
            @Html.DisplayFor(modelItem => modelItem.LeftToShip)
        </td>
        <td class="@Model.Indicators.FullyShippedColor.ToString()">
            @if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == true)
            {
                @:Yes
            }
            else if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == false)
            {
                @:No
            }
            else
            {
                @:NA
            }
        </td>
        <td class="@Model.Indicators.CustomsValueColor.ToString()">
           @Html.DisplayFor(modelItem => modelItem.CustomsValue)
        </td>
        <td class="@Model.Indicators.SalePriceColor.ToString()">
            @Html.DisplayFor(modelItem => modelItem.SalePrice)
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.HTSCode, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="@Model.Indicators.CountyOfOriginColor.ToString()">
            @Html.EditorFor(modelItem => modelItem.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.Notes, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => modelItem.AutoShipFile, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="@Model.Indicators.SalesOrderNumberColor.ToString()">
            @Html.EditorFor(modelItem => modelItem.SalesOrderNumber, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="text-nowrap">
            @Html.ActionLink("Delete", "Delete", new { id = Model.EquipmentId })
        </td>
    </tr>

    if (Model.BillOfLadingEquipments.Count() > 0)
    {
        <tr class="collapse info" id="accordion@(Model.EquipmentId)">
            <td colspan="12" id="BOL@(Model.EquipmentId)">
                @Html.Partial("BillOfLadingsPartial", Model.BillOfLadingEquipments)
            </td>
            <td colspan="15"></td>
        </tr>
    }
}

