@model EquipmentModel

<div id="editFormMock">

    @using (Html.BeginForm("Edit", "Equipment"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(modelItem => modelItem.EquipmentId)
        @Html.CheckBoxFor(modelItem => modelItem.IsHardware)

        @Html.EditorFor(modelItem => modelItem.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.EquipmentName, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.Priority, new { @class = "form-control" })
        @Html.ValidationMessageFor(modelItem => modelItem.Priority, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.ReleaseDate, new { htmlAttributes = new { @class = "form-control datePicker", id = "releaseDate" + Model.EquipmentId } })
        @Html.ValidationMessageFor(modelItem => modelItem.ReleaseDate, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.DrawingNumber, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.WorkOrderNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(modelItem => modelItem.WorkOrderNumber, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Quantity, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.ShippingTagNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.ShippingTagNumber, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Description, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.UnitWeight, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.UnitWeight, "", new { @class = "text-danger" })

        @Html.HiddenFor(modelItem => modelItem.TotalWeight)

        @Html.HiddenFor(modelItem => modelItem.TotalWeightShipped)

        @Html.HiddenFor(modelItem => modelItem.ReadyToShip)

        @Html.HiddenFor(modelItem => modelItem.ShippedQuantity)

        @Html.HiddenFor(modelItem => modelItem.LeftToShip)

        @Html.HiddenFor(modelItem => modelItem.FullyShipped)

        @Html.HiddenFor(modelItem => modelItem.CustomsValue)

        @Html.HiddenFor(modelItem => modelItem.SalePrice)

        @Html.EditorFor(modelItem => modelItem.HTSCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.HTSCode, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.CountryOfOrigin, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.Notes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.Notes, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.AutoShipFile, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.AutoShipFile, "", new { @class = "text-danger" })

        @Html.EditorFor(modelItem => modelItem.SalesOrderNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(modelItem => modelItem.SalesOrderNumber, "", new { @class = "text-danger" })
    }
</div>



