@model EquipmentModel

<tr class="text-nowrap">
    @if (Model.BillOfLadingEquipments != null && Model.BillOfLadingEquipments.Count() > 0)
    {
        <td data-toggle="collapse" data-id="@("HardwareKit" + Model.EquipmentId)" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
    }
    else
    {
        <td></td>
    }
    <td>
        @Html.DisplayFor(modelItem => modelItem.IsHardware) 
    </td>
    <td>
        Hardware Kit: @Html.DisplayFor(modelItem => modelItem.EquipmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ReleaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.DrawingNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.WorkOrderNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ShippingTagNumber)
    </td>
    <td class="long-column">
        Misc
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.UnitWeight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TotalWeight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TotalWeightShipped)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ReadyToShip)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ShippedQuantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.LeftToShip)
    </td>
    <td>
        @if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == true)
        {
            @:Yes
        }
        else if (Model.FullyShipped.HasValue && Model.FullyShipped.Value == false)
        {
            @:No
        }
        else
        {
            @:NA
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.CustomsValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.SalePrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.HTSCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.CountryOfOrigin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Notes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.AutoShipFile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.SalesOrderNumber)
    </td>
</tr>

