@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "";
}




@Html.Partial("ActionNavPartial", ActionNav.MSL)
<hr />


<h3 class="text-center col-sm-6 center-block"><strong>@ViewBag.ProjectNumber</strong></h3>
<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Recalculate Sales+Soft Costs & Sale Price", "Index", null, new { @class = "btn btn-sm btn-primary" })
    </div>
</div>
<br />

<input type="hidden" id="projectId" value="@ViewBag.ProjectId" />
<input type="hidden" id="projectNumber" value="@ViewBag.ProjectNumber" />

<table class="table table-condensed table-hover table-bordered table-styled my-datatable masterShipList">
    <thead>
        <tr class="active">
            <th></th>
            <th></th>
            <th class="exportable">Equipment</th>
            <th class="exportable">Prty</th>
            <th class="exportable">Released</th>
            <th class="exportable">Dwg #</th>
            <th class="exportable">Rev</th>
             <th class="exportable">Work
Order #</th>
            <th class="exportable">Qty</th>
            <th class="exportable">Ship 
Tag #</th>
            <th class="exportable">Description</th>
            <th class="exportable">Unit
Wt</th>
            <th class="exportable">Total
Wt</th>
            <th class="exportable">Total Wt
Shipped</th>
            <th class="exportable">RTS</th>
            <th class="exportable">Ship
Qty</th>
            <th class="exportable">Left To
Ship</th>
            <th class="exportable">Fully
Shipped</th>
            <th class="exportable">Shipped
From</th>
            <th class="exportable">Notes</th>
            <th class="exportable">Sales+Soft
Costs</th>
            <th class="exportable">Sale
Price</th>
            <th class="exportable">HTS</th>
            <th class="exportable">COO</th>
            <th class="exportable">BOL 
Number</th>
            <th class="exportable">Date 
Shipped</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>

<div id="copyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Click Copy to copy your snippet to your clipboard.</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible snip-alert" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success! </strong> Your snippet has been copied to clipboard. You can now paste it into the new email which should have opened for you.
                </div>
                <div class="alert alert-warning alert-dismissible snip-alert" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning! </strong> Your snippet has been copied to clipboard. However, if results do not appear formatted correctly please using another browser other than internet explorer.
                </div>
                <div class="alert alert-danger alert-dismissible snip-alert" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error! </strong> There was an error trying to automatically copy the selected rows below. Please click the 'Copy Again' button to copy your snippet to your clipboard.
                </div>
                <button class="btn btn-primary copy-snippet"><i class="glyphicon glyphicon-copy"></i> Copy Again</button>
                <br />
                <br />

                <div class="snippet-container">
                    Loading...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Html.Action("Index", "EquipmentAttachment")

@section Scripts {

    @Styles.Render("~/Content/dropzone")

    <script type="text/javascript">

        var priorities = [];

        @foreach (var priority in ViewBag.Priorities)
        {
            @:priorities.push(@priority);
        }

        var htsCodes = [];

        @foreach (var htsCode in ViewBag.HTSCodes)
        {
            @:htsCodes.push({
                @:value: "@htsCode.HTSCode", 
                @:label: "@(htsCode.HTSCode + " - " + htsCode.Description)"
            @:});
        }

    </script>



    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/html2canvas")
    @Scripts.Render("~/bundles/masterShipList")
}
