@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "";
}

@Html.Partial("ActionNavPartial", ActionNav.MSL)
<hr />


<h3 class="text-center col-sm-6 center-block"><strong>@ViewBag.ProjectNumber</strong></h3>
<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Recalculate Sales+Soft Costs & Sale Price", "Index", null, new { @class = "btn btn-sm btn-primary" })
    </div>
</div>
<br/>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable masterShipList">
    <thead>
        <tr class="active">
            <th></th>
            <th></th>
            <th>Equipment</th>
            <th>Prty</th>
            <th>Released</th>
            <th>Dwg #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
            <th>Total
Wt</th>
            <th>Total Wt
Shipped</th>
            <th>RTS</th>
            <th>Ship
Qty</th>
            <th>Left To
Ship</th>
            <th>Fully
Shipped</th>
            <th>Shipped
From</th>
            <th>Notes</th>
            <th>Sales+Soft
Costs</th>
            <th>Sale
Price</th>
            <th>HTS</th>
            <th>COO</th>
            <th class="noSearch">Delete</th>
            <th class="noSearch">BOL</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>

@section Scripts {
    <script type="text/javascript">

        var priorities = [];

        @foreach (var priority in ViewBag.Priorities)
        {
            @:priorities.push(@priority);
        }

    </script>
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/masterShipList")
}
