@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.MSL)

<table class="table table-condensed table-hover table-bordered table-styled">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.IsHardware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingTagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeightShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullyShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomsValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoShipFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("Edit", item)
        }

        @Html.Action("Create")
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/masterShipList")
}
