@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Master Ship List</h2>

<table class="master-ship-list table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingTagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeightShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullyShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomsValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoShipFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyToStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLandingNumberToStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateShippedToStorage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-toggle="collapse" data-target="#accordion@(item.EquipmentId)" class="expand"><span class="glyphicon glyphicon-plus text-primary"></span></td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrawingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingTagNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWeightShipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadyToShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftToShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullyShipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomsValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTSCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoShipFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtyToStorage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillOfLandingNumberToStorage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateShippedToStorage)
                </td>
                <td class="text-nowrap">
                    @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentId })
                </td>
            </tr>
            <tr class="collapse info" id="accordion@(item.EquipmentId)" class="collapse">
                <td colspan="27" id="BOL@(item.EquipmentId)">
                    @Html.Partial("~/Views/BillOfLanding/Index.cshtml", item)
                </td>
            </tr>
        }

        @Html.Action("Create")
    </tbody>
</table>


<div id="BOLDialogs">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/billOfLanding")
}
