@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.MSL)

<h4>Master Ship List</h4>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.IsHardware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingTagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeightShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullyShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomsValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoShipFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            @if (Html.UserIsInRole(UserRoles.ReadWrite))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Html.UserIsInRole(UserRoles.ReadWrite))
        {
            foreach (var item in Model)
            {
                if (item.HardwareKit != null)
                {
                    @Html.Partial("HardwareKit", item)
                }
                else
                {
                    @Html.Partial("Edit", item)
                }

            }
        }
        else
        {
            foreach (var item in Model)
            {
                if (item.HardwareKit != null)
                {
                    @Html.Partial("HardwareKit", item)
                }
                else
                {
                    @Html.Partial("Details", item)
                }
            }
        }
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>



<div class="hidden">


    @foreach (var item in Model)
    {
        if (item.BillOfLadingEquipments.Count() > 0)
        {
            <div id="@(item.EquipmentId)">
                @Html.Partial("BOLsAssociatedToEquipment", item.BillOfLadingEquipments)
            </div>
        }
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/masterShipList")
}
