@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "";
}

@Html.Partial("ActionNavPartial", ActionNav.MSL)
<hr />


<h3 class="text-center col-sm-6 center-block"><strong>@ViewBag.ProjectNumber</strong></h3>
<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Recalculate Sales+Soft Costs & Sale Price", "Index", null, new { @class = "btn btn-sm btn-primary" })
    </div>
</div>
<br />

<input type="hidden" id="projectId" value="@ViewBag.ProjectId" />
<input type="hidden" id="projectNumber" value="@ViewBag.ProjectNumber" />

<table class="table table-condensed table-hover table-bordered table-styled my-datatable masterShipList">
    <thead>
        <tr class="active">
            <th></th>
            <th></th>
            <th class="exportable">Equipment</th>
            <th class="exportable">Prty</th>
            <th class="exportable">Released</th>
            <th class="exportable">Dwg #</th>
            <th class="exportable">Rev</th>
            <th class="exportable">
                Work
                Order #
            </th>
            <th class="exportable">Qty</th>
            <th class="exportable">
                Ship
                Tag #
            </th>
            <th class="exportable">Description</th>
            <th class="exportable">
                Unit
                Wt
            </th>
            <th class="exportable">
                Total
                Wt
            </th>
            <th class="exportable">
                Total Wt
                Shipped
            </th>
            <th class="exportable">RTS</th>
            <th class="exportable">
                Ship
                Qty
            </th>
            <th class="exportable">
                Left To
                Ship
            </th>
            <th class="exportable">
                Fully
                Shipped
            </th>
            <th class="exportable">
                Shipped
                From
            </th>
            <th class="exportable">Notes</th>
            <th class="exportable">
                Sales+Soft
                Costs
            </th>
            <th class="exportable">
                Sale
                Price
            </th>
            <th class="exportable">HTS</th>
            <th class="exportable">COO</th>
            <th class="exportable">
                BOL
                Number
            </th>
            <th class="exportable">
                Date
                Shipped
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>

<div id="copyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Right click on the table image and select "copy" or "copy image"</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@Html.Action("Index", "EquipmentAttachment")

@section Scripts {

    @Styles.Render("~/Content/dropzone")

    <script type="text/javascript">

        var priorities = [];

        @foreach (var priority in ViewBag.Priorities)
        {
            @:priorities.push(@priority);
        }

        var htsCodes = [];

        @foreach (var htsCode in ViewBag.HTSCodes)
        {
            @:htsCodes.push("@htsCode");
        }

    </script>



    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/html2canvas")
    @Scripts.Render("~/bundles/masterShipList")
}
