@model IEnumerable<EquipmentModel>

@{
    ViewBag.Title = "";
}

@Html.Partial("ActionNavPartial", ActionNav.MSL)
<br />
<hr />

<table class="table table-condensed table-hover table-bordered table-styled my-datatable masterShipList">
    <thead>
        <tr class="active">
            <th class="long">
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th class="medium">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th class="long">
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th class="medium">
                @Html.DisplayNameFor(model => model.WorkOrderNumber)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="long">
                @Html.DisplayNameFor(model => model.ShippingTagNumber)
            </th>
            <th class="long">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.UnitWeight)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.TotalWeightShipped)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.ReadyToShip)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.ShippedQuantity)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.LeftToShip)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.FullyShipped)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.CustomsValue)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            <th class="smallWidth">
                @Html.DisplayNameFor(model => model.AutoShipFile)
            </th>
            <th class="smallWidth">Delete</th>
            <th class="medium">BOL</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>

<div class="hidden">
    @foreach (var item in Model.Where(m => m.BillOfLadingEquipments.Count() > 0).ToList())
    {
        <div id="@(item.EquipmentId)">
            @Html.Partial("BOLsAssociatedToEquipment", item.BillOfLadingEquipments)
        </div>
    }

    @Html.Partial("Template", new EquipmentModel())
</div>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/masterShipList")
}
