@model BillOfLadingModel

<Label>Select Equipment</Label>

<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.EquipmentName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ReadyToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.LeftToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ShippedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.BillOfLadingEquipments.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => modelItem.BillOfLadingEquipments[i].EquipmentId)
                    @Html.CheckBoxFor(modelItem => modelItem.BillOfLadingEquipments[i].Checked)
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.BillOfLadingEquipments[i].Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ReadyToShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.LeftToShip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ShippedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
