@model EquipmentModel
@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <div class="template hidden">
        <div>
            @Html.HiddenFor(modelItem => modelItem.EquipmentId)
        </div> @* Equipment Id *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.IsHardware)
            @Html.CheckBoxFor(modelItem => modelItem.IsHardware)
        </div> @* Is Hardware *@
        <div>
            @Html.EditorFor(modelItem => modelItem.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.EquipmentName, "", new { @class = "text-danger" })
        </div> @* Equipment Name *@
        <div>
            @Html.DropDownListFor(modelItem => modelItem.Priority, new SelectList(Priorities.GetPriorities()), new { @class = "form-control" })
            @Html.ValidationMessageFor(modelItem => modelItem.Priority, "", new { @class = "text-danger" })
        </div> @* Priority *@
        <div>
            @Html.EditorFor(modelItem => modelItem.ReleaseDate, new { htmlAttributes = new { @class = "form-control datePicker" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ReleaseDate, "", new { @class = "text-danger" })
        </div>@* Release Date *@
        <div>
            @Html.EditorFor(modelItem => modelItem.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.DrawingNumber, "", new { @class = "text-danger" })
        </div>@* DrawingNumber *@
        <div>
            @Html.EditorFor(modelItem => modelItem.WorkOrderNumber, new { htmlAttributes = new { @class = "form-control autocomplete" } })
            @Html.ValidationMessageFor(modelItem => modelItem.WorkOrderNumber, "", new { @class = "text-danger" })
        </div>@* WorkOrderNumber *@
        <div>
            @Html.EditorFor(modelItem => modelItem.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Quantity, "", new { @class = "text-danger" })
        </div>@* Quantity *@
        <div>
            @Html.EditorFor(modelItem => modelItem.ShippingTagNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ShippingTagNumber, "", new { @class = "text-danger" })
        </div>@* ShippingTagNumber *@
        <div>
            @Html.EditorFor(modelItem => modelItem.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Description, "", new { @class = "text-danger" })
        </div>@* Description *@
        <div>
            @Html.EditorFor(modelItem => modelItem.UnitWeight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.UnitWeight, "", new { @class = "text-danger" })
        </div>@* UnitWeight *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.TotalWeight)
        </div>@* TotalWeight *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.TotalWeightShipped)
        </div>@* TotalWeightShipped *@
        <div>
            @Html.EditorFor(modelItem => modelItem.ReadyToShip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.ReadyToShip, "", new { @class = "text-danger" })
        </div>@* ReadyToShip *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.ShippedQuantity)
        </div>@* ShippedQuantity *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.LeftToShip)
        </div>@* LeftToShip *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.FullyShipped)
        </div>@* FullyShipped *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.CustomsValue)
        </div>@* CustomsValue *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.SalePrice)
        </div>@* SalePrice *@
        <div>
            @Html.EditorFor(modelItem => modelItem.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Notes, "", new { @class = "text-danger" })
        </div>@* Notes *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.AutoShipFile)
        </div>@* AutoShipFile *@
        <div>
            @Html.HiddenFor(modelItem => modelItem.SalesOrderNumber)
        </div>@* SalesOrderNumber *@
        <div>
            @Ajax.ActionLink("Delete", "Delete", new AjaxOptions { Confirm = "Are you sure you want to delete this equipment record?", OnSuccess = "DeleteSuccess", HttpMethod = "POST" })
        </div>@* Delete *@
    </div>
}