@model IEnumerable<ProjectModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Deleted and Completed Projects</h4>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th>Project Status</th>
            <th>@Html.DisplayNameFor(model => model.ProjectNumber)</th>
            <th>@Html.DisplayNameFor(model => model.PM)</th>
            <th>@Html.DisplayNameFor(model => model.FreightTerms)</th>
            <th>@Html.DisplayNameFor(model => model.ShipToCompany)</th>
            <th>@Html.DisplayNameFor(model => model.ReceivingHours)</th>
            <th>@Html.DisplayNameFor(model => model.ShipToContact1)</th>
            <th>@Html.DisplayNameFor(model => model.ShipToContact2)</th>
            <th>@Html.DisplayNameFor(model => model.Notes)</th>
            <th>@Html.DisplayNameFor(model => model.ShipToBroker)</th>
            <th>Is Export
Project?</th>
            <th>Include Soft Costs
on Commercial Invoice?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
            var canReadWrite = "@(Html.UserIsInRole(UserRoles.ReadWrite) ? "true" : "false")";
    </script>
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/admin")
}