@model IEnumerable<BillOfLadingModel>

@{
    ViewBag.Title = "Details";
}

<h2>BOL<br /><small>Details</small></h2>

<div>
    <hr />
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Revision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillOfLadingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateShipped)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippedFrom)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr @(item.IsCurrentRevision ? "class='info'" : "")>
                    <td data-toggle="collapse" data-target="#accordion@(item.BillOfLadingId)" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
                    <td>
                        @if (item.IsCurrentRevision)
                        {
                            @("Current")
                        }
                        else
                        {
                            Html.DisplayFor(modelItem => item.Revision);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillOfLadingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateShipped)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedFrom)
                    </td>
                </tr>
                <tr class="collapse info" id="accordion@(item.BillOfLadingId)">
                    <td colspan="10" id="Equipment@(item.BillOfLadingId)">
                        @Html.Partial("EquipmentsPartial", item.BillOfLadingEquipments)
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SingleOrDefault(b => b.IsCurrentRevision).BillOfLadingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
