@model BillOfLadingModel

@{
    ViewBag.Title = "Details";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>BOL: <strong>@Html.DisplayFor(modelItem => modelItem.BillOfLadingNumber)</strong><br /><small>Details</small></h4>

<div>
    <hr />
    <table class="table table-condensed table-hover table-bordered table-styled my-datatable">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Revision)</th>
                <th>@Html.DisplayNameFor(model => model.DateShipped)</th>
                <th>@Html.DisplayNameFor(model => model.Carrier)</th>
                <th>@Html.DisplayNameFor(model => model.TrailerNumber)</th>
                <th>@Html.DisplayNameFor(model => model.ShippedFrom)</th>
                <th>@Html.DisplayNameFor(model => model.ShippedTo)</th>
                <th>@Html.DisplayNameFor(model => model.FreightTerms)</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>

    </table>
</div>
<p>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.BillOfLadingId }) 
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    <script type="text/javascript">
        var billOfLadingNumber = "@(Model.BillOfLadingNumber)";
    </script>
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/billOfLadingDetails")
}
