@model IEnumerable<BillOfLadingModel>

@{
    ViewBag.Title = "Details";
}

<h2>BOL<br /><small>Details</small></h2>

<div>
    <hr />
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Revision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillOfLadingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateShipped)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippedFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToCSZ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToPhoneFax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToContact1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipToContact2)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr @(item.IsCurrentRevision ? "class='info'" : "")>
                    <td data-toggle="collapse" data-target="#accordion@(item.BillOfLadingId)" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
                    <td>
                        @if (item.IsCurrentRevision)
                        {
                            @("Current")
                        }
                        else
                        {
                            Html.DisplayFor(modelItem => item.Revision);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillOfLadingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateShipped)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToCompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToCSZ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToPhoneFax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToContact1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipToContact2)
                    </td>
                </tr>
                <tr class="collapse info" id="accordion@(item.BillOfLadingId)">
                    <td colspan="10" id="Equipment@(item.BillOfLadingId)">
                        @Html.Partial("EquipmentsPartial", item.BillOfLadingEquipments)
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
