@model BillOfLadingModel

@{
    ViewBag.Title = "Edit";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<form id="BOLForm">
    <h4>BOL: <strong>@Html.DisplayFor(model => model.BillOfLadingNumber)</strong> <br /> <small>Edit</small></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    @Html.HiddenFor(model => model.BillOfLadingId)
    @Html.HiddenFor(model => model.BillOfLadingNumber)


    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.DateShipped)
                @Html.EditorFor(model => model.DateShipped, new { htmlAttributes = new { @class = "form-control datePicker" } })
                @Html.ValidationMessageFor(model => model.DateShipped, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FreightTerms)
                @Html.EditorFor(model => model.FreightTerms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FreightTerms, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Carrier)
                @Html.EditorFor(model => model.Carrier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Carrier, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.TrailerNumber)
                @Html.EditorFor(model => model.TrailerNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrailerNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.ToStorage)
                        @Html.DisplayNameFor(model => model.ToStorage)

                        @Html.ValidationMessageFor(model => model.ToStorage, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
    <hr />

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Partial("EquipmentToAddToBOL")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="button" id="Save" value="Save" class="btn btn-primary" /> | @Html.ActionLink("Cancel", "Index", "Home")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/billOfLadingEdit")
}
