@model BillOfLadingModel

<Label>Select Equipment</Label>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="selectAll" /> Select All
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.WorkOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ShippingTagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.TotalWeightShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ReadyToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.ShippedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.LeftToShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.FullyShipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].ShippedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.CustomsValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].HTSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].CountryOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.SalesOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillOfLadingEquipments[0].Equipment.AutoShipFile)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.BillOfLadingEquipments.Count(); i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => modelItem.BillOfLadingEquipments[i].Checked, htmlAttributes: new { @checked = "checked" })
                </td>
                <td>
                    @Html.HiddenFor(modelItem => modelItem.BillOfLadingEquipments[i].EquipmentId)
                    @Html.EditorFor(modelItem => modelItem.BillOfLadingEquipments[i].Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.DrawingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.WorkOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ShippingTagNumber)
                </td>
                <td class="long-column">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.Description)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.UnitWeightColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.UnitWeight.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.TotalWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.TotalWeightShipped)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.ReadyToShipColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ReadyToShip)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.ShippedQtyColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.ShippedQuantity)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.LeftToShipColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.LeftToShip)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.FullyShippedColor">
                    @if (Model.BillOfLadingEquipments[i].Equipment.FullyShipped.HasValue && Model.BillOfLadingEquipments[i].Equipment.FullyShipped.Value == true)
                    {
                        @:Yes
        }
                    else if (Model.BillOfLadingEquipments[i].Equipment.FullyShipped.HasValue && Model.BillOfLadingEquipments[i].Equipment.FullyShipped.Value == false)
                    {
                        @:No
        }
                    else
                    {
                        @:NA
        }
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.BillOfLadingEquipments[i].ShippedFrom, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.CustomsValueColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.CustomsValue)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.SalePriceColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.SalePrice)
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.BillOfLadingEquipments[i].HTSCode, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.BillOfLadingEquipments[i].CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.Notes)
                </td>
                <td class="@Model.BillOfLadingEquipments[i].Equipment.Indicators.SalesOrderNumberColor">
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.SalesOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.BillOfLadingEquipments[i].Equipment.AutoShipFile)
                </td>
            </tr>
        }
    </tbody>
</table>
