@model IEnumerable<BillOfLadingModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Bills of Lading</h4>

@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <p>
        @Html.ActionLink("Create New BOL", "Create", null, new { @class = "btn btn-sm btn-primary" })
    </p>
}

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BillOfLadingNumber)</th>
            <th>@Html.DisplayNameFor(model => model.DateShipped)</th>
            <th>@Html.DisplayNameFor(model => model.Carrier)</th>
            <th>@Html.DisplayNameFor(model => model.TrailerNumber)</th>
            <th>@Html.DisplayNameFor(model => model.ShippedFrom)</th>
            <th>@Html.DisplayNameFor(model => model.ShippedTo)</th>
            <th>@Html.DisplayNameFor(model => model.FreightTerms)</th>
            <th></th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.ToStorage)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@Html.Action("Index", "BillOfLadingAttachment")

@section Scripts {

    @Styles.Render("~/Content/dropzone")

    <script type="text/javascript">
        var canReadWrite = "@(Html.UserIsInRole(UserRoles.ReadWrite) ? "true" : "false")";
    </script>

    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/billOfLadings")
}
