@model IEnumerable<BillOfLadingModel>

@{
    ViewBag.Title = "Index";
}

<h2>Bill of Ladings</h2>

<p>
    @Html.ActionLink("Create New BOL", "Create")
</p>
<table class="table table-condensed table-bordered table-styled">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillOfLadingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateShipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToCSZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToPhoneFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToContact1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToContact2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillOfLadingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateShipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToCSZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToPhoneFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToContact1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToContact2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BillOfLadingId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BillOfLadingId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BillOfLadingId })
        </td>
    </tr>
}

</table>
