@model IEnumerable<TruckingScheduleModel>

@{
    ViewBag.Title = "";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Trucking Schedules</h4>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr class="active">
            <th></th>
            <th>Req
Date</th>
            <th>Proj</th>
            <th>PO</th>
            <th>Req
By</th>
            <th>Ship
From</th>
            <th>Ship
To</th>
            <th>Description</th>
            <th>Pcs</th>
            <th>Dimensions</th>
            <th>Weight</th>
            <th>Carrier</th>
            <th>Pick-Up
Date</th>
            <th>Comments</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        <tfoot>
            @Html.Action("Create")
        </tfoot>
    }
</table>

@section Scripts {


    <script type="text/javascript">

        var shipFromVendors = [{
            value: "",
            label: "Wendt 2555 Walden Ave, Buffalo, NY 14075"
        }];

        var shipToVendors = [];

        @foreach (var vendor in ViewBag.Vendors)
        {
            @:shipFromVendors.push({ value: "@vendor.value", label: "@vendor.label" });
            @:shipToVendors.push({ value: "@vendor.value", label: "@vendor.label" });
        }

        var projects = [];

        @foreach (var project in ViewBag.Projects)
        {
            @:projects.push({ value: "@project.value", label: "@project.label" });
        }

        var statuses = [];

        @foreach (var status in ViewBag.Statuses)
        {
            @:statuses.push("@status");
        }

    </script>

    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/truckingSchedules")
}
