@model IEnumerable<HardwareCommercialCodeModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Hardware \ Commercial Codes</h4>

@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <p>
        @Html.ActionLink("Create Hardware \\ Commercial Code", "Create", null, new { @class = "btn btn-sm btn-primary" })
    </p>
}

<table class="table table-condensed table-hover table-bordered table-styled my-datatable hardwareCommercialCodeTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommodityCode)
            </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <div class="template hidden">
        <div class="deleteColumn">
            @Html.ActionLink("Edit", "Edit") |
            @Ajax.ActionLink("Delete", "Delete", new AjaxOptions { Confirm = "Are you sure you want to delete this hardware \\ commercial code record?", OnSuccess = "DeleteSuccess", HttpMethod = "POST" })
        </div>@* Delete *@
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
}