@model HardwareKitModel

@{
    ViewBag.Title = "Details";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Hardware Kit: @Html.DisplayFor(model => model.HardwareKitNumber)<br /><small>Details</small></h4>

<div>
    <hr />
    <table class="table table-condensed table-hover table-bordered table-styled my-datatable">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Revision)</th>
                <th>@Html.DisplayNameFor(model => model.ExtraQuantityPercentage)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<p>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.HardwareKitId })
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    <script type="text/javascript">
        var hardwareKitNumber = "@(Model.HardwareKitNumber)";
    </script>
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/hardwareKitDetails")
}
