@model IEnumerable<HardwareKitModel>

@{
    ViewBag.Title = "Details";
}

<h2>Hardware Kit<br /><small>Details</small></h2>

<div>
    <hr />
    <table class="table table-condensed table-hover table-bordered table-styled">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Revision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HardwareKitNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExtraQuantityPercentage)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr @(item.IsCurrentRevision ? "class='info'" : "")>
                    <td data-toggle="collapse" data-target="#accordion@(item.HardwareKitId)" class="expand text-center"><span class="glyphicon glyphicon-plus text-primary"></span></td>
                    <td>
                        @if (item.IsCurrentRevision)
                        {
                            @("Current")
                        }
                        else
                        {
                            Html.DisplayFor(modelItem => item.Revision);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HardwareKitNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtraQuantityPercentage)
                    </td>
                </tr>
                <tr class="collapse info" id="accordion@(item.HardwareKitId)">
                    <td colspan="10" id="Equipment@(item.HardwareKitId)">
                        @Html.Partial("HardwareAssociatedToHardwareKit", item.HardwareKitEquipments)
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<p>
    @if (Html.UserIsInRole(UserRoles.ReadWrite))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SingleOrDefault(h => h.IsCurrentRevision).HardwareKitId })
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/table")
}
