@model IEnumerable<HardwareKitModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Hardware Kits</h4>

@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <p>
        @Html.ActionLink("Create New Hardware Kit", "Create", null, new { @class = "btn btn-sm btn-primary" })
    </p>
}
    <table class="table table-condensed table-hover table-bordered table-styled my-datatable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.HardwareKitNumber)</th>
                <th>@Html.DisplayNameFor(model => model.ExtraQuantityPercentage)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>



@section Scripts {
    <script type="text/javascript">
        var canReadWrite = "@(Html.UserIsInRole(UserRoles.ReadWrite) ? "true" : "false")";
    </script>
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/hardwareKits")
}
