@model ActionNav

    <div class="btn-group" role="group" aria-label="actions">
        @Html.ActionLink("Equipment Listing", "Index", "Home", null, new { @class = "btn " + (Model == ActionNav.MSL ? "btn-secondary" : "btn-primary") })

        @if (Html.UserIsInRole(UserRoles.ReadWrite))
        {
            <div class="btn-group">
                <button type="button" class="btn @(Model == ActionNav.ImportEquipment || Model == ActionNav.ImportWorkOrderPrice || Model == ActionNav.ImportBroker || Model == ActionNav.ImportHardwareCommercialCode || Model == ActionNav.ImportPriority || Model == ActionNav.ImportVendor ? "btn-secondary" : "btn-primary") dropdown-toggle" data-toggle="dropdown">
                    Import
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Equipment", "Equipment", "Import", null, new { @class = (Model == ActionNav.ImportEquipment ? "dropdown-secondary" : "dropdown-primary") })</li>
                    <li>@Html.ActionLink("Work Order Prices", "WorkOrderPrice", "Import", null, new { @class = (Model == ActionNav.ImportWorkOrderPrice ? "dropdown-secondary" : "dropdown-primary") })</li>
                    <li>@Html.ActionLink("Priorities", "Priority", "Import", null, new { @class = (Model == ActionNav.ImportPriority ? "dropdown-secondary" : "dropdown-primary") })</li>
                    <li>@Html.ActionLink("Vendors", "Vendor", "Import", null, new { @class = (Model == ActionNav.ImportVendor ? "dropdown-secondary" : "dropdown-primary") })</li>
                    <li>@Html.ActionLink("Brokers", "Broker", "Import", null, new { @class = (Model == ActionNav.ImportBroker ? "dropdown-secondary" : "dropdown-primary") })</li>
                    <li>@Html.ActionLink("Hard\\Comm Codes", "HardwareCommercialCode", "Import", null, new { @class = (Model == ActionNav.ImportHardwareCommercialCode ? "dropdown-secondary" : "dropdown-primary") })</li>
                </ul>
            </div>
            @Html.ActionLink("Create BOL", "Create", "BillOfLading", null, new { @class = "btn " + (Model == ActionNav.CreateBOL ? "btn-secondary" : "btn-primary") })
            @Html.ActionLink("Create Hardware Kit", "Create", "HardwareKit", null, new { @class = "btn " + (Model == ActionNav.CreateHardwareKit ? "btn-secondary" : "btn-primary") })
            @Html.ActionLink("Priorities", "Index", "Priority", null, new { @class = "btn " + (Model == ActionNav.Priorities ? "btn-secondary" : "btn-primary") })
        }
    </div>
<br/><br/>