@model IEnumerable<PriorityModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Priorities)

<h4>Priorities</h4>

@if (Html.UserIsInRole(UserRoles.ReadWrite))
{
    <p>
        @Html.ActionLink("Create New Priority", "Create", null, new { @class = "btn btn-sm btn-primary" })
    </p>
}
<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PriorityNumber)</th>
            <th>@Html.DisplayNameFor(model => model.DueDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.ContractualShipDate)</th>
            <th>@Html.DisplayNameFor(model => model.EquipmentName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section Scripts {
    <script type="text/javascript">
            var canReadWrite = "@(Html.UserIsInRole(UserRoles.ReadWrite) ? "true" : "false")";
    </script>
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/priorities")
}