@model IEnumerable<WorkOrderPriceModel>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.Nothing)

<h4>Work Order Prices</h4>

    <table class="table table-condensed table-hover table-bordered table-styled my-datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkOrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleasedPercent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippedPercent)
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>


@section Scripts {
@Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/editor")
}