@model EquipmentImportModel

@if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
{
    @Html.Partial("MessagePartial")
}
else
{

    <form id="equipmentConfigurationForm">
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <table class="table table-condensed table-hover table-bordered table-styled">
                        <tr>
                            <td>Equipment</td>
                            <td class="warning">
                                @Html.EditorFor(model => model.Equipment, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Equipment, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>Priority</td>
                            <td class="warning">
                                @Html.DropDownListFor(model => model.PriorityId, new SelectList(Model.Priorities, "PriorityId", "PriorityNumber"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        @*<tr>
                            <td>Drawing</td>
                            <td class="warning">
                                @Html.EditorFor(model => model.DrawingNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DrawingNumber, "", new { @class = "text-danger" })
                            </td>
                        </tr>*@
                        <tr>
                            <td>WO #</td>
                            <td class="warning">
                                @Html.EditorFor(model => model.WorkOrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorkOrderNumber, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>Qty Multiplier</td>
                            <td class="warning">
                                @Html.EditorFor(model => model.QuantityMultiplier, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QuantityMultiplier, "", new { @class = "text-danger" })

                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </form>

}