@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportBOMRevision)

<h3 class="text-center col-sm-6 center-block"><strong>@ViewBag.ProjectNumber</strong></h3>


<h4>Import BOM Revision <br /><small>Drag and drop the excel document you would like to import.</small></h4>
<hr/>


@using (Html.BeginForm("SelectEquipmentRevisionFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "myDropzone" }))
{
}

<div id="equipmentRevisionConfiguration">
    @Html.Action("EquipmentRevisionConfigurationPartial")
</div>


<div id="equipmentRevisionRows" class="collapse">
    @Html.Partial("EquipmentRevisionTablePartial")
</div>

@section Scripts {


    @Styles.Render("~/Content/dropzone")

    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/importEquipmentRevision")
}
