@model ImportModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportEquipment)

<h4>Import Equipment <br /><small>Drag and drop the excel document you would like to import.</small></h4>

@using (Html.BeginForm("SelectEquipmentFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id="myDropzone" }))
{
}

<div id="equipmentConfiguration">

</div>


<div id="equipmentRows">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/importEquipment")

    @Styles.Render("~/Content/dropzone")
}
