@model ImportModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportEquipment)

<h2 class="text-center col-sm-4 center-block"><strong>@ViewBag.ProjectNumber</strong></h2>


<h4>Import Equipment <br /><small>Drag and drop the excel document you would like to import.</small></h4>

@using (Html.BeginForm("SelectEquipmentFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "myDropzone" }))
{
}

<div id="equipmentConfiguration">
    @Html.Action("EquipmentConfigurationPartial")
</div>


<div id="equipmentRows" class="collapse">
    @Html.Partial("EquipmentTablePartial")
</div>

@section Scripts {
    <script type="text/javascript">

        var priorities = [];

        @foreach (var priority in ViewBag.Priorities)
        {
            @:priorities.push(@priority);
        }

    </script>


    @Styles.Render("~/Content/dropzone")

    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/importEquipment")
}
