@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportHardwareCommercialCode)

<h4>Import Hardware Commercial Codes <br /><small>Select the excel document containing the hardware commercial codes you would like to import.</small></h4>

<div class="alert alert-info"><p><a href="~/Files/HardwareCommercialCodeTemplate.xlsx" target="_blank" class="alert-link">Click Here</a> to download the template file needed for importing hardware commercial codes</p></div>

@using (Html.BeginForm("SelectHardwareCommercialCodeFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "myDropzone" }))
{
}

<input type="hidden" id="FilePath" />
<div id="hardwareCommercialCodeRows" class="collapse">
    @Html.Partial("HardwareCommercialCodeTablePartial")
</div>

@section Scripts {
    @Styles.Render("~/Content/dropzone")

    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/importHardwareCommercialCode")
}
