@model WorkOrderPriceImportModel

@{
    ViewBag.Title = "Import Selection";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportWorkOrderPrice)

<h4>Import Work Order Prices <br /><small>Review the records below. When you are ready, click "Import Work Order Prices" to import.</small></h4>


<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th class="noSearch"></th>
            <th>Work Order Number)</th>
            <th>Sales+Soft Costs</th>
            <th>Sale Price</th>
            <th>Released %</th>
            <th>Shipped %</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button class="btn btn-primary" id="Import">Import Work Order Prices</button>


@section Scripts {
    <script type="text/javascript">
        
        var filePath = '@Model.FilePath.Replace(@"\", @"\\")';
    </script>
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/importWorkOrderPrice")
}