
@model ImportModel

@{
    ViewBag.Title = "Import Selection";
}


@Html.Partial("ActionNavPartial", ActionNav.Import)

<h2><small>Select the excel worksheets you would like to import</small></h2>


@using (Ajax.BeginForm("SelectSheets", new AjaxOptions { UpdateTargetId = "EquipmentRows", InsertionMode = InsertionMode.Replace}))
{
    @Html.AntiForgeryToken()

    <div class="form">
        <hr />

        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.FileName)

                @for (int i = 0; i < Model.Sheets.Count(); i++)
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Sheets[i].Checked)
                            @Html.HiddenFor(model => model.Sheets[i].Name)
                            @Html.DisplayFor(model => model.Sheets[i].Name)
                        </label>
                    </div>
                }
                
            </div>
        </div>

         <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Get Import Records" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <hr />
    </div>
}

<div id="EquipmentRows">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/form")
}
