@{
    ViewBag.Title = "Index";
}

@Html.Partial("ActionNavPartial", ActionNav.ImportWorkOrderPrice)

<h4>Import Work Order Prices <br /><small>Select the excel document containing the work order prices you would like to import.</small></h4>

<div class="alert alert-info"><p><a href="~/Files/WorkOrderPriceTemplate.xlsx" target="_blank" class="alert-link">Click Here</a> to download the template file needed for importing work order prices</p></div>

@using (Html.BeginForm("SelectWorkOrderPriceFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "myDropzone" }))
{
}

<input type="hidden" id="FilePath" />
<div id="workOrderPriceRows" class="collapse">
    @Html.Partial("WorkOrderPriceTablePartial")
</div>

@section Scripts {
    @Styles.Render("~/Content/dropzone")

    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/editor")
    @Scripts.Render("~/bundles/importWorkOrderPrice")
}
